@page
<h1>About</h1>
<p>
    Sude Yüksek was born in Istanbul's Beykoz district, known as the “pearl of the Bosphorus” with its 18th and 19th-century houses and pretty, still largely unspoiled coastline, dotted with fishermen’s boats. She speaks French, English and Turkish fluently and writes in all three languages.
</p>
<p>@DateTime.Now</p>